@import 'src/index.scss';

.button {
    font-size: 24px;
    background-color: transparent;
    color: $color-light;
    outline: none;
    text-decoration: none;
    border-style: none;
    cursor: pointer;
}

.container:hover {
    cursor: pointer;
    scale: 1.1;
    transition: all 250ms ease;
}

.container {
    @include font-style;
    font-weight: 700;
    padding: 20px;
    background-color: $color-dark ;
    text-align: center;
    width: 100%;
    border-radius: 20px;
}