
@import 'src/index.scss';

.button {
    padding: 20px 40px;
    outline: 2px solid $color-dark;
    color: $color-dark;
    border-radius: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    @media (max-width: 768px) {
      width: 100%
    }
  }
  
  .buttonsContainer {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 24px;
    }
  }
  
  .newButton {
    width: 300px;
  
    @media (max-width: 768px) {
      width: 100%
    }
  }