@import './fonts.scss';

// FONT

@mixin font-style {
  font-family: 'Montserrat';
  color: $color-dark;
  font-size: 16px;
}




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



//COLORS
$color-dark: #481C6A;
$color-light: #F5F3EF;



body {
  @include font-style;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: rgba(238, 238, 238, 1);
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
// ul[class],
// ol[class] {
//   list-style: none;
// }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// GLOBAL STYLE
.error {
  @include font-style;
  text-align: end;
  font-size: 14px;
  color: red
}

@mixin font-size-32-dark {
  font-size: 36px;
  font-weight: 600;
}


@mixin font-size-48-dark {
  font-size: 48px;
  font-weight: 600;
}

@mixin font-size-64-dark {
  font-size: 64px;
  font-weight: 600;
}

@mixin font-size-112-dark {
  font-size: 112px;
  font-weight: 600;
}

@mixin font-size-16-dark {
  font-size: 16px;
  font-weight: 500;
}

@mixin font-size-24-dark {
  font-size: 24px;
  font-weight: 500;
}

.title {
  @include font-size-32-dark;
  text-align: center;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-weight: 700;

  @media (max-width: 1024px) {
    font-size: 30px;

  }

  @media (max-width: 768px) {
    font-size: 14px;

  }
}

.text {
  @include font-size-16-dark;
  width: 100%;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 24px;
  line-height: 16px;

  @media (max-width: 1024px) {
    font-size: 14px;

  }

  @media (max-width: 768px) {
    font-size: 10px;

  }

}

.dataContainer {
  background-color: white;
  border-radius: 30px;
  padding: 60px 150px;
  box-shadow: -4px 4px 13px 0px rgba(0, 0, 0, 0.25);

  @media (max-width: 1024px) {
    padding: 32px;
  }

}

.blockContainer {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 58px;

  @media (max-width: 1440px) {
    width: 70%;

  }

  @media (max-width: 768px) {
    width: 90%;

  }
}

.code {
  font-size: 240px;
  line-height: 247px;
  text-align: center;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 114px;
    line-height: 115px;
  }
}

.date {
  @include font-size-24-dark;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 10px;
  }
}