@import 'src/index.scss';

.numbersText {
    @include font-size-16-dark;

}

.importantTextContainer {
    @include font-size-16-dark;
    background-color: $color-dark;
    width: 60%;
    margin: 0 auto;
    border-radius: 16px;
    padding: 32px 16px;
    color: white;
    text-align: center;

    @media (max-width: 1440px) {
        width: 80%;
    }

    @media (max-width: 1024px) {
        text-align: left;
    }

    @media (max-width: 767px) {
        font-size: 12px;
        width: 100%;
    }
}

.card {
    @include font-size-16-dark;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 40px 0px rgba(84, 84, 84, 0.25);
    border-radius: 16px;
    justify-content: flex-start;
    background-color: #e5e5e5;
    ;

    .planetHeader {
        text-transform: uppercase;
        border-radius: 12px;
        padding: 23px;
        text-align: center;
        width: 100%;
        color: white;
        background-color: $color-dark;
        font-size: 24px;

        @media (max-width: 1024px) {
            padding: 12px;
            font-size: 14px;
        }
    }

    .bigCard {
        @include font-size-24-dark;
        padding: 27px 45px;

        @media (max-width: 1024px) {
            @include font-size-16-dark;
        }
    }

    .bigCardPlanet {
        padding: 23px 32px !important;

        @media (max-width: 1024px) {
            font-size: 10px;
        }
    }

    .planet {
        padding: 23px;
        width: 100%;
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;

        @media (max-width: 1024px) {
            padding: 12px;
            font-size: 14px;
        }
    }

}

.cardContainer {
    padding: 24px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 24px;
    margin: 0 150px;
    margin-bottom: 36px;
    width: 50%;
    margin: 0 auto;

    @media (max-width: 1440px) {
        width: 70%;

    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        width: 90%;

    }
}

.circleItem {
    @include font-size-16-dark;
    color: $color-dark;
    border-radius: 16px;
    background-color: #EEE6F4;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 34px;

    @media (max-width: 767px) {
        font-size: 12px;

    }

    .number {
        @include font-size-64-dark;
        color: white;

        @media (max-width: 1024px) {
            font-size: 48px;

        }
    }
}

.karmTask {
    background-color: $color-dark;
    color: white;
}

.pink {
    background-color: #EEE6F4;
    color: $color-dark;
}

.circleTopContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.circleBottomContainer {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.mobileCircle {
    @media (min-width: 767px) {
        display: none;
    }

    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 32px !important;

}

.container50 {
    width: 70%;
    margin: 0 auto;

    @media (max-width: 1440px) {
        width: 90%;

    }

    @media (max-width: 1024px) {
        width: 90%;

    }

    @media (max-width: 768px) {
        width: 100%;

    }
}

.container70 {
    width: 70%;
    margin: 0 auto;

    @media (max-width: 1440px) {
        width: 90%;

    }

    @media (max-width: 1024px) {
        width: 90%;

    }

    @media (max-width: 768px) {
        width: 100%;

    }
}

.container {
    margin: 0 auto;
    margin-bottom: 58px;
}

.mb50 {
    margin-bottom: 50px;
}

.descriptionTasks {
    @include font-size-24-dark;
    font-weight: 700;

    @media (max-width: 1440px) {
        font-size: 16px;

    }
}

.desctopCircle {
    @media (max-width: 767px) {
        display: none;
    }

    @media (max-width: 1024px) {
        width: 100% !important;
    }

    margin-bottom: 32px;
}

.title {
    @include font-size-32-dark;
    text-align: center;
    margin-bottom: 24px;
}

.text {
    @include font-size-16-dark;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
}

.circleNumbers {
    @include font-size-64-dark;
    text-align: center;
}


.tasksContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    margin-bottom: 32px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;

    }
}

.positiveNegativeContainer {
    display: flex;

    gap: 24px;

    .card {
        width: 50%;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;

        .card {
            width: 100%;
        }
    }


}