.dateContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
}
.date2{
    grid-column: 2;
    grid-row: 1;
}
.date1{
    grid-column: 1;
    grid-row: 2;
}
.date3{
    grid-column: 3;
    grid-row: 2;
}
.container {
    width: fit-content;
    margin: 0 auto;
}